body {
  background-color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
}

#headerTitulos{
  border: 1px solid red;
  width:60vw;
  margin: auto;
  padding: 0px 1em;
  border-radius: 1em;
  
}

.miTitulo {
  font-size: 2em;
}

.miTexto {
  color: rgb(71, 69, 69);
  font-size: 1em;
}

#imagenGato {
  width: 240px;
}


.tarjeta {
  border: 1px solid blue;
  width: fit-content;
}

.tarjeta:hover {
  background-color: aquamarine;
}